body{
    background-color: #90033c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.info{
    display: none;
    border: 2px dashed #4240b8;
    padding: 10px;
    margin: 7px;
}